<html>
  <head>
    <title>Math Anki Card Editor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lodash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
    <script src="{{ url_for('static', filename='MathJax/MathJax.js') }}?config=TeX-AMS_SVG-full"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.processSectionDelay = 0;
      MathJax.Hub.Config({
        messageStyle:"none",
        showProcessingMessages:false,
	tex2jax:{
            inlineMath: [ ['$','$'], ['\\(','\\)'] ],
            displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
            processEscapes:true
        }
      });
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stdtheme.css') }}">    
  </head>
  <body>
    <div class="title">
      <h1>Math Anki</h1>
    </div>
    <div id="app">
      <div id="cards">
	<button class="newcardbutton" v-on:click.stop="newCard()">New Card</button>
	<div v-for="(card, index) in cards" :key="card.data.id">
	  <card-component
	    v-bind:key="card.data.id"
	    v-bind:card="card.data"
	    v-bind:is-new="card.isNew"
	    v-bind:initial-editing="card.editing"
	    v-on:save-card="saveCard(index, $event)"
	    v-on:remove="deleteCard(index)"
	  ></card-component>
	</div>
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/card_editor.js') }}"></script>
</html>
