<html>
  <head>
    <title>Math Anki Card Editor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lodash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
    <script src="{{ url_for('static', filename='MathJax/MathJax.js') }}?config=TeX-AMS_SVG-full"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.processSectionDelay = 0;
      MathJax.Hub.Config({
        messageStyle:"none",
        showProcessingMessages:false,
	tex2jax:{
            inlineMath: [ ['$','$'], ['\\(','\\)'] ],
            displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
            processEscapes:true
        }
      });
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stdtheme.css') }}">    
  </head>
  <body>
    <div id="container">
      <div class="title">
	<h1>Math Anki</h1>
      </div>
      <div id="app">
	<div id="query">
	  <div id="querysearch">
	    <span>Search:  <input v-model="query" size="50"></span>
	    <span>showing XX cards</span>
	  </div>
	  <div id="querytags">
	    Tags:
	    <button
	      v-for="(tag, index) in queryTags"
	      :key="tag.name"
	      class="querytag"
	      v-bind:class="{selected: tag.selected}"
	      v-on:click.stop="toggleQueryTag(index)">
	      {% raw %}{{ tag.name }}{% endraw %}
	    </span>
	  </div>
	</div>
	<div id="cards">
	  <div class="newcardbutton">
	    <button v-on:click.stop="newCard()">+ New Card</button>
	  </div>
	  <div v-for="card in filteredCards" :key="card.data.id">
	    <card-component
	      v-bind:key="card.data.id"
	      v-bind:card="card.data"
	      v-bind:is-new="card.isNew"
	      v-bind:initial-editing="card.editing"
	      v-on:save-card="saveCard(card.data.id, $event)"
	      v-on:remove="deleteCard(card.data.id)"
	      ></card-component>
	  </div>
	</div>
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/card_editor.js') }}"></script>
</html>
